
div.tvgbg {
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: #000;
    /*height:220px; js设置 */
    text-align: center;
    overflow: hidden;
    z-index: 100001;
}

#casttv {
    display:block;
    position:relative;
    height: 50%;
    left:50%;
    top: 25px;
    transform:translateX(-50%);
    /* tv.png  tv-small@2x.png tv-small@3x.png*/
    background-image: url('./img/tv-small@2x.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 13px;
    text-align:center;
    color:#999;
}

#casttv #devicename {
    position:relative;
    top: 25%;
    font-size: 14px;
    color: white;
    margin-bottom:32px;
}

#casting, #playing, #playerr, #casterr {
    position:relative;
}

.tvgcenter {
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.tvgcenterY {
    top:50%;
    transform: translateY(-50%);
}

#playerr>.tvgcenterX {
    left:50%;
    transform: translateX(-50%);
}

.tvgbg .tvgRefresh {
    display:inline-block;
    vertical-align:middle;
    margin-left:2px;
    height:13px;
    width:13px;
}

div.tvgbg .tvggreentxt {
    color: #4dc769;
    font-size: 13px;
}

div.tvgbg .tvglighttxt {
    color: #999;
    font-size: 14px;
}

div.tvgbg #switch-btn {
    display:block;
    position:relative;
    background-color: #26282b;
    width:100px;
    height:30px;
    border-radius: 15px;
    left:50%;
    transform:translateX(-50%);
    top: 40px;
    line-height: 30px;
    color: #FFF;
}

#tvgbg #castbtn>p {
    display:block;
    position:relative;
    color: white;
    margin:0 auto;
    text-align: center;
    font-size: 25px;
}

/* cast view */

div#casticonbg {
    background: black url(./img/casticon.png) no-repeat center;
    background-size:20%;
}

div.tvgbg>#tvgjumpToApp {
    position:absolute;
    background-color:#26282B;
    color:white;
    width:133px;
    right:0;
    font-size:11px;
    top:20px;
    border-top-left-radius:11px;
    border-bottom-left-radius:11px;
    text-align:right;
    padding-right:10px;
    line-height:22px;
    height:22px;
}

#tvgjumpToApp img {
  display:inline-block;
  height:14px;
  width:14px;
  vertical-align:middle;
  margin:0 5px;
}

